/****** BRS localhost criscom: 04.05.2013 -- BASIC STYLESHEET MOBILE FIRST ******/
/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

body
	{
/* background: url(../images/body_bg.jpg); */
/* background-color: #c0beba; */
/* background-position: top left; */
/* background-repeat: no-repeat; */
		background: url(../images/body_tile.jpg);
		background-repeat: repeat;
		color: #515151;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
/* Font Stylings in omega-text.css */

	}

#section-header .zone-menu-wrapper
	{ 
		height: 123px;
		background: url(../images/header_bg.jpg);
		background-color: #c0beba;
		background-position: left top;
		background-repeat: no-repeat;
	}

p, li
	{
		color: #515151;
	}

img.file-icon
	{
		display: none;
	}

img#logo
	{
		margin-top: 20px;
	}

/* @group Hauptmenü */

.block-menu-block-2 ul.menu li
	{
		list-style: none;
		list-style-type: none;
		list-style-image: none;
		float: left;

	}

/* Hauptmenülinks vertikal ausrichten */
.block-menu-block-2>div>div>div>ul.menu
	{
		margin-top: 28px;
	}


.block-menu-block-2 ul.menu li a
	{
		color: white;
		text-transform: uppercase;
		font-weight: normal!important;
		font-style: italic;

	}

.block-menu-block-2>div>div>div>ul.menu>li>a
	{
		font-size: 20px;
	}

.block-menu-block-2 ul.menu li a.active
	{
		color: #d9d86e; /* Gelb */

	}

/* @group Submenüs */

.block-menu-block-3 ul.menu li
	{
		float: left;
		list-style: none;
		margin-top: 3px;
		margin-left: 5px;
		margin-right: 10px;

	}

.block-menu-block-3 ul.menu li a
	{
		color: white;
		text-transform: uppercase;
		font-size: 14px;
	}

.block-menu-block-3 ul.menu li a.active
	{
		display: block;
		padding-left: 45px;
		height: 19px;
		background: url(../images/arrow-yellow.png);
		background-position: left top;
		background-repeat: no-repeat;
		
	}

/* @end Submenüs */

/* @end Hauptmenü */

/* @group Frontpage Slider */

.flexslider
{
	background: transparent;
}

body.page-frontpage #flexslider_views_slideshow_main_frontpage_slideshow-page div.front-slideshow-beschreibung-inner-wrapper
{
	position: absolute;
	color: #FFF;
	left: 0px;
	top: 301px;
	background-color: #414143;
	background: rgba(65,65,67,0.75);
	height: 40px;
	width: 100%;
}

.flex-nav-container .flex-control-nav
{
	bottom: 10px;
	left: 230px;
}

/* @end Frontpage Slider */

/* @group Einfache Seite ==> Geschichte Basic Stylings */
#region-content .region-content-inner

	{
		margin-top: 50px;
	}

.node-page .group-header

	{
		margin-bottom: 35px;
	}

.node-page .group-left

	{
		margin-right: 5%;
		width: 60%;
	}

.node-page .group-right

	{
		width: 35%;
	}

h1, h2
	{
		padding-left: 35px;
		background: url(../images/arrow-grey.png);
		background-position: left center;
		background-repeat: no-repeat;
		color: #575757;
		text-transform: uppercase;
		font-weight: normal!important;

	}

span.text-header
	{
		font-size: 20px;
	}

.field-name-field-allgemeines-bild div.field-items div.field-item 
	{
		border: 3px solid #686468;
	}

/* Slogan */

.node-page .group-footer .node-slogan
	{
		padding-top: 15px;
		height: 116px;
		background: url(../images/slogan_bg.png);
		background-position: left top;
		background-repeat: no-repeat;
		text-align: center;
	}

.node-page .group-footer .node-slogan .field-name-title div div h2
	{
		margin-bottom: 0px;
		background: none;
		color: #edf571;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
		font-size: 32px;
	}

.node-page .group-footer .node-slogan .field-name-field-subtext-slogan
	{
		color: #575757;
		font-style: italic;
		font-size: 20px;
	}
/* @end Einfache Seite ==> Geschichte Basic Stylings */

/* @group Produkte */
/* Styling des Produktbereichs bzw der einzelnen Produktblöcke */

.group-footer .node-produkte
	{
		margin-top: 50px;
	}

.group-footer .node-produkte h2
	{
		margin-bottom: 5px;
		height: 40px;
		background-position: left top;
		font-size: 16px;
		line-height: 1.2;
	}
.field-collection-view
	{
		padding: 0;
		border-bottom: none;
	}

.field-collection-container
	{
		margin-bottom: 0;
		border-bottom: none;
	}

.field-name-field-produkte-einbinden div.field-items div.field-item div.node-produkte
	{
		float: left;
		}

.field-name-field-produkte-einbinden div.field-items div.field-item div.node-produkte
	{
		margin-right: 2%;
		width: 23%;
	}

.field-name-field-produktdetails>div.field-items>div.even
	{
		background-color: #c1c0bc;
	}

.field-name-field-produkt-bezeichner
	{
		font-weight: bold;
	}
.node-slogan
	{
		clear: both;
	}
/* @end Produkte */

/* @group Team */

.node-team .group-left
	{
		width: 25%;
		margin-right: 5%;
	}

.node-team .group-right
	{
		margin-right: 20%;
	}

/* @end Team */

/* @group Footer */

#zone-footer-wrapper
	{
		background: url(../images/footer-with-background.jpg);
		background-position: left top;
		background-repeat: no-repeat;
	}

#zone-footer-wrapper .zone-footer .region
	{
		margin-top: 40px;
	}

#zone-footer-wrapper .zone-footer .region h2
	{
		background: url(../images/arrow-white.png);
		background-position: left 3px;
		background-repeat: no-repeat;
		color: white;
		font-style: italic;

	}

.region-footer-first ul.menu
	{
		margin-top: 18px;
	}

.region-footer-first ul.menu li
	{
		list-style: none;
		list-style-type: none;
		list-style-image: none;
	}

.region-footer-first ul.menu li a
	{
		color: white;
		text-transform: uppercase;
	}

.region-footer-first ul.menu li a.active
	{
		color: #edf571;
	}

.region-footer-second .block-1 div.content,
.region-footer-third .block-2 div.content
	{
		margin-top: 21px;
	}

.region-footer-second .block-1 div div.content p
	{
		color: white;
	}

/* @end Footer */
